<a href="https://colab.research.google.com/github/shimossa/ISYS5002_Assignment_One/blob/main/ISYS5002_ELP_2021_20484040.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ELP Question Two

In [ ]:
def get_url(search_term, template): # A function that passes through the search_term and template arguments
 search_term = search_term.replace(' ', '+') # Defines the variable search_term where the blanks are replaced with a +
 url = template.format(search_term) # formats the url with the parameters defined in search_term
 url += '&page={}' # adds '&page={}' to the end of the url
 return url # stores the url generated in the function to be called

##ELP Question Three

"Calculate a carâ€™s fuel economy after
reading in the distance travelled and amount of petrol used." 


The fuel economy is
calculated by the following formula:

*kmPerLitre = kilometers / litres.*

#Original Code
```
def efficiency(dist, gas)
 return dist/gas

km = input ("How far did your car travel? (In kilometers?) )
liters = input ("How much gas did you use? (In liters)"
MPG = efficiency(dist_traveled, Liters)
print MPG
```

In [16]:
def efficiency(dist_traveled, fuel): #Added a colon to define the function (Syntax Error)
 return dist_traveled/fuel #Fixed logic errors by making varieables consistent

dist_traveled = int(input("How far did your car travel? (In kilometers?) ")) #Closed the quotation (Syntax Error), changed variable name (Logic)
fuel = int(input("How much fuel did you use? (In liters) ")) #Closed the quotation (Syntax Error), changed variable name (Logic)
kpl = efficiency(dist_traveled, fuel) #Changed variable name for consistency (Km/L) and fixed the variables (logic errors)
print("Your fuel economy was " + str(kpl) + "Km/L") #Fixed syntax error and enhanced the display of the output

How far did your car travel? (In kilometers?) 100
How much fuel did you use? (In liters) 2
Your fuel economy was 50.0Km/L

##ELP Question Three

*Write a program the reads in sales.csv and calculates the maximum, minimum and average
profit for each country in the Australia and Oceania region. For each country in the
Australia and Oceania region the plot their total profit*

**Problem Statement**
"Calculate the Max, Min, Ave for the Ocenania region and plot the total profit of the countries in that region"

**Development**
1.   Input: CSV file
2.   Output: min, max, average and total on a table, plot of the totals
3. Processing: pandas

**Algorithm**
1. read the csv file
2. copy the table 
3. fix NaN data / clean the data
4. filter the OCE/AUS countries
5. for the OCE/AUS countries find the min, max and average profit
6. Display the new data on a table and save it 
7. plot the total profit for those countries in that region

#Issues Encountered and Resolution

##Min, Max and Mean

Finding a way to retreive the min, max and average of the data.
As the program will run off a csv file, it's better for the program to be adaptable in that it will be able to do this for all the CSV files that the user creates (provided they're the same format).

While using :

```
column = oce_df["Total Profit"]
max_value = column.max()
min_value = column.min()
ave_value = column.mean()


print(max_value)
print(min_value)
print(ave_value)
```
was a simple way to retreive the data, it was difficult to actually provide the country name along with it. 

```
max_country = oce_df.loc[oce_df['Total Profit'].idxmax()]
min_country = oce_df.loc[oce_df['Total Profit'].idxmin()]

print(max_country)
print(min_country)
```

was another way that I tried to get the data however, it did not appear clean, and would be difficult to read by the user. and it still contained ```Name: 9, dtype: object``` in the result which  Idid not want.

```
pdmax = oce_df[oce_df["Total Profit"]==oce_df["Total Profit"].min()]
pdmin = oce_df[oce_df["Total Profit"]==oce_df["Total Profit"].max()]

print(pdmax)
print(pdmin)
```

also resulted in issues where the data appeared as 

```
       Country Item Type Sales Channel  ... Total Revenue Total Cost  Total Profit
3  New Zealand    Fruits        Online  ...      20404.71   15134.04       5270.67

[1 rows x 13 columns]
  Country  Item Type Sales Channel  ... Total Revenue  Total Cost  Total Profit
9  Samoa   Cosmetics        Online  ...     4220728.8  2542187.82    1678540.98

[1 rows x 13 columns]
```

#Min, Max, Mean Resolution

The resolution I devised involved using iloc, however with specific points in a remade csv file. I arranged the OCE/AUS filtered table by profit, and then saved that as a seperate CSV file. Using this new csv file ('sales_fixed.csv") I was there able to use iloc to retrieve the first and last (i.e. min and max) and then find the mean using a simple .mean() command. 

```
max_prof = dff.iloc[0,0]
max_country = dff.iloc[0,1]
min_prof = dff.iloc[10,0]
min_country = dff.iloc[10,1]
mean_prof = round(dff["Total Profit"].mean(),2)

print(max_country + str(max_prof))
print(min_country + str(min_prof))
print("The average for the total profit for the region is " + str(mean_prof))
```
I did attempt to use .head() and .tail() however they also displayed the following which was unusable in the way I had intended to use the data.

```
your max value is0    1678540.98
Name: Total Profit, dtype: float64
10    5270.67
Name: Total Profit, dtype: float64
```

In [17]:
# import libraries 
import pandas as pd
import csv 
import numpy as np
import matplotlib.pyplot as plt

In [60]:
#read the csv file 
df = pd.read_csv('sales.csv')
df

                               Region  ... Total Profit
0               Australia and Oceania  ...    951410.50
1   Central America and the Caribbean  ...    248406.36
2                              Europe  ...    224598.75
3                  Sub-Saharan Africa  ...     19525.82
4                  Sub-Saharan Africa  ...    639077.50
..                                ...  ...          ...
95                 Sub-Saharan Africa  ...     65214.72
96                               Asia  ...     15103.47
97                 Sub-Saharan Africa  ...     93748.05
98                      North America  ...    144521.02
99                 Sub-Saharan Africa  ...    889472.91

[100 rows x 14 columns]

In [ ]:
def open_file():
  df = pd.read_csv('sales.csv')

In [61]:
#filter to the OCE/AUS region
oce_df = df.loc[df['Region'] == 'Australia and Oceania']

#Reset the index to clean the data and drop the old index
oce_df = oce_df.reset_index(drop=True)

oce_df

                   Region  ... Total Profit
0   Australia and Oceania  ...    951410.50
1   Australia and Oceania  ...    285087.64
2   Australia and Oceania  ...    337937.60
3   Australia and Oceania  ...      5270.67
4   Australia and Oceania  ...     13009.18
5   Australia and Oceania  ...    369155.00
6   Australia and Oceania  ...    727423.20
7   Australia and Oceania  ...     60418.38
8   Australia and Oceania  ...    146875.14
9   Australia and Oceania  ...   1678540.98
10  Australia and Oceania  ...    147031.74

[11 rows x 14 columns]

In [72]:
#Dropping a redundant column
oce_df.drop(['Region'], axis=1, inplace=True)

In [62]:
#Finding the max, min and average values
column = oce_df["Total Profit"]
max_value = column.max()
min_value = column.min()
ave_value = column.mean()


print(max_value)
print(min_value)
print(ave_value)

1678540.98
5270.67
429287.27545454545

In [63]:
#Sorting data in a way to display it using columns, however need the name of the country at least.
col_max = oce_df["Total Profit"].max(axis=0)
col_max

1678540.98

In [ ]:
cols = list(oce_df.columns.values)
oce_df = oce_df[cols[1:12]+cols[0]]

In [92]:
#Sorting data in a way to display it using groupby
#This probably the best way to display information without compromising the data itself
organised_data = oce_df.groupby(["Total Profit"]).max().sort_values('Total Profit', ascending=False)


organised_data

                                     Country  ...  Total Cost
Total Profit                                  ...
1678540.98                            Samoa   ...  2542187.82
951410.50                             Tuvalu  ...  1582243.50
727423.20                               Fiji  ...   354995.20
369155.00                          Australia  ...  1534983.04
337937.60                         East Timor  ...  2154588.52
285087.64                    Solomon Islands  ...   474115.08
147031.74                          Australia  ...   298476.31
146875.14     Federated States of Micronesia  ...   298158.41
60418.38                           Australia  ...    79869.02
13009.18                            Kiribati  ...    37354.16
5270.67                          New Zealand  ...    15134.04

[11 rows x 12 columns]

In [93]:
organised_data.to_csv('sales_fixed.csv')

In [94]:
dff = pd.read_csv('sales_fixed.csv')

In [98]:
#using concat to get the max and min
max_min = pd.concat([dff.head(1), dff.tail(1)])
max_min

    Total Profit      Country  Item Type  ... Unit Cost Total Revenue  Total Cost
0     1678540.98       Samoa   Cosmetics  ...    263.33    4220728.80  2542187.82
10       5270.67  New Zealand     Fruits  ...      6.92      20404.71    15134.04

[2 rows x 13 columns]

In [115]:
#Attempt 2 to isolate the top and bottom values
max = dff.head(1)["Total Profit"]
min = dff.tail(1)["Total Profit"]

print("your max value is" + str(max))
print(min)

your max value is0    1678540.98
Name: Total Profit, dtype: float64
10    5270.67
Name: Total Profit, dtype: float64

In [113]:
#Using iloc to find the data for max and min profit
#Integer based method is easier to locate the data 

max_prof = dff.iloc[0,0]
max_country = dff.iloc[0,1]
min_prof = dff.iloc[10,0]
min_country = dff.iloc[10,1]
mean_prof = round(dff["Total Profit"].mean(),2)

print(max_country + str(max_prof))
print(min_country + str(min_prof))
print("The average for the total profit for the region is " + str(mean_prof))

Samoa 1678540.98
New Zealand5270.67
The average for the total profit for the region is 429287.28

In [81]:
cols[12]

'Total Profit'

In [ ]:
cols = list(oce_df.columns.values)
organised_data = organised_data[cols[0:11]+[cols[12]]]
organised_data

In [68]:
oce_mean_profit = oce_df["Total Profit"].mean()

mean_profit = round(oce_mean_profit, 2)

mean_profit

429287.28

In [74]:
print(organised_data)

print(mean_profit)

                                     Country  ...  Total Cost
Total Profit                                  ...
1678540.98                            Samoa   ...  2542187.82
951410.50                             Tuvalu  ...  1582243.50
727423.20                               Fiji  ...   354995.20
369155.00                          Australia  ...  1534983.04
337937.60                         East Timor  ...  2154588.52
285087.64                    Solomon Islands  ...   474115.08
147031.74                          Australia  ...   298476.31
146875.14     Federated States of Micronesia  ...   298158.41
60418.38                           Australia  ...    79869.02
13009.18                            Kiribati  ...    37354.16
5270.67                          New Zealand  ...    15134.04

[11 rows x 12 columns]
429287.28

In [117]:
pdmax = oce_df[oce_df["Total Profit"]==oce_df["Total Profit"].min()]
pdmin = oce_df[oce_df["Total Profit"]==oce_df["Total Profit"].max()]

print(pdmax)
print(pdmin)

       Country Item Type Sales Channel  ... Total Revenue Total Cost  Total Profit
3  New Zealand    Fruits        Online  ...      20404.71   15134.04       5270.67

[1 rows x 13 columns]
  Country  Item Type Sales Channel  ... Total Revenue  Total Cost  Total Profit
9  Samoa   Cosmetics        Online  ...     4220728.8  2542187.82    1678540.98

[1 rows x 13 columns]

In [ ]:
max_country = oce_df.loc[oce_df['Total Profit'].idxmax()]
min_country = oce_df.loc[oce_df['Total Profit'].idxmin()]

print(max_country)
print(min_country)

In [ ]:
max_country