<a href="https://colab.research.google.com/github/shimossa/ISYS5002_Assignment_One/blob/main/ISYS5002_ELP_2021_20484040.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ELP Question Two

In [ ]:
def get_url(search_term, template): # A function that passes through the search_term and template arguments
 search_term = search_term.replace(' ', '+') # Defines the variable search_term where the blanks are replaced with a +
 url = template.format(search_term) # formats the url with the parameters defined in search_term
 url += '&page={}' # adds '&page={}' to the end of the url
 return url # stores the url generated in the function to be called

##ELP Question Three

"Calculate a car’s fuel economy after
reading in the distance travelled and amount of petrol used." 


The fuel economy is
calculated by the following formula:

*kmPerLitre = kilometers / litres.*

#Original Code
```
def efficiency(dist, gas)
 return dist/gas

km = input ("How far did your car travel? (In kilometers?) )
liters = input ("How much gas did you use? (In liters)"
MPG = efficiency(dist_traveled, Liters)
print MPG
```

In [16]:
def efficiency(dist_traveled, fuel): #Added a colon to define the function (Syntax Error)
 return dist_traveled/fuel #Fixed logic errors by making varieables consistent

dist_traveled = int(input("How far did your car travel? (In kilometers?) ")) #Closed the quotation (Syntax Error), changed variable name (Logic)
fuel = int(input("How much fuel did you use? (In liters) ")) #Closed the quotation (Syntax Error), changed variable name (Logic)
kpl = efficiency(dist_traveled, fuel) #Changed variable name for consistency (Km/L) and fixed the variables (logic errors)
print("Your fuel economy was " + str(kpl) + "Km/L") #Fixed syntax error and enhanced the display of the output

How far did your car travel? (In kilometers?) 100
How much fuel did you use? (In liters) 2
Your fuel economy was 50.0Km/L

##ELP Question Three

*Write a program the reads in sales.csv and calculates the maximum, minimum and average
profit for each country in the Australia and Oceania region. For each country in the
Australia and Oceania region the plot their total profit*

**Problem Statement**
"Calculate the Max, Min, Ave for the Ocenania region and plot the total profit of the countries in that region"

**Development**
1.   Input: CSV file
2.   Output: min, max, average and total on a table, plot of the totals
3. Processing: pandas

**Algorithm**
1. read the csv file
2. copy the table 
3. fix NaN data / clean the data
4. filter the OCE/AUS countries
5. for the OCE/AUS countries find the min, max and average profit
6. Display the new data on a table and save it 
7. plot the total profit for those countries in that region

In [17]:
# import libraries 
import pandas as pd
import csv 
import numpy as np
import matplotlib.pyplot as plt

In [19]:
#read the csv file 
df = pd.read_csv('sales.csv')
df

                               Region  ... Total Profit
0               Australia and Oceania  ...    951410.50
1   Central America and the Caribbean  ...    248406.36
2                              Europe  ...    224598.75
3                  Sub-Saharan Africa  ...     19525.82
4                  Sub-Saharan Africa  ...    639077.50
..                                ...  ...          ...
95                 Sub-Saharan Africa  ...     65214.72
96                               Asia  ...     15103.47
97                 Sub-Saharan Africa  ...     93748.05
98                      North America  ...    144521.02
99                 Sub-Saharan Africa  ...    889472.91

[100 rows x 14 columns]

In [21]:
#filter to the OCE/AUS region
df.loc[df['Region'] == 'Australia and Oceania']

                   Region  ... Total Profit
0   Australia and Oceania  ...    951410.50
5   Australia and Oceania  ...    285087.64
19  Australia and Oceania  ...    337937.60
23  Australia and Oceania  ...      5270.67
26  Australia and Oceania  ...     13009.18
32  Australia and Oceania  ...    369155.00
56  Australia and Oceania  ...    727423.20
60  Australia and Oceania  ...     60418.38
76  Australia and Oceania  ...    146875.14
79  Australia and Oceania  ...   1678540.98
91  Australia and Oceania  ...    147031.74

[11 rows x 14 columns]