<a href="https://colab.research.google.com/github/shimossa/ISYS5002_Assignment_One/blob/main/Sandbox_Practice_Assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment Ideas**

1. State the problem clearly
2. Describe the input and output information
3. Work the problem by hand
4. Develop and algorithm 
5. Test slution with a variety of data

Program, Inputs, Processing and Outputs

# Inputs

*Input is a ticker symbol?
Note: To prompt the user, I guess I will need to use the input function 

**Find out what a is a ticker symbol is** 
A stock symbol is a unique series of letters assigned to a security for trading purposes. Stocks listed on the New York Stock Exchange (NYSE) can have four or fewer letters.
https://www.investopedia.com/terms/s/stocksymbol.asp


# Processing thoughts 

*scrape the yahoo website
*extract the 'key executives'
*Calculate the income tax

**Find yahoo webstie**
**Source the key executives**

Here is the webpage in which data is to be retrieved 
https://au.finance.yahoo.com/

Note: There is a search bar, will use to find a company

#Outputs

*Save to a CSV file
*Save to an SQL database

**Workout what I have to save**


#Explore the website

1. Search for Coles 

Best guess - COL.AX is Coles 
'.AX' means the company is Australian

Here is the URL for Coles
https://au.finance.yahoo.com/quote/COL.AX/profile?p=COL.AX

2. Find NAB

Here is the URL for NAB
https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

There appears to be a URL pattern - the ticker is used twice in the URL.


https://au.finance.yahoo.com/quote/____/profile?p=____


Manual process is
1. Search for the ticker
2. Click on 'Profile'

**TODO: Can this process be shortcutted and just use the URL**

The URL can be edited to replace the ticker - only the first mention of the ticker is important, but to be safe both should be replaced.

#Calculation of income tax

```

Name	Title	Pay	Exercised	Year born
Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	N/A	1957
Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons), FCA	Group Chief Financial Officer	1.13M	N/A	N/A
Mr. Patrick F. Wright	Group Exec. of Technology & Enterprise Operations	1.72M	N/A	1967
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k	N/A	N/A
Ms. Susan Ferrier	Group Exec. of People & Culture	929.27k	N/A	N/A
Ms. Angela Mentis B.Bus	Group Chief Digital, Data & Analytics Officer	1.62M	N/A	N/A
Mr. Shaun Dooley	Chief Risk Officer	1.05M	N/A	N/A
Mr. Andrew Irvine	Chief Exec. of Bus. Private Banking Division	333.27k	N/A	N/A
Mr. Lesile D. Matheson	Group Chief Operating Officer	N/A	N/A	1960
Ms. Sally Mihell	Head of Investor Relations	N/A	N/A	N/A

```

The first column is the executive's respective names
The second is their title/ position in the organisation
The third is their annual income/ pay

**TO DO: How to do we extract the third column***

**RESOLUTION** 18/10/2021
  ```
  pay = rec['Pay'] #Needs to be sourced from the previous function
  last_char = pay[-1] # -1 retrieves the last character in the pay cell
  num_part = pay[0:-1]


```
Only need the name, title and pay
```
Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	N/A	1957
```

Thrid column is pay; 2.54m

M is assumedly "Million"; The pay being 2.5 * 1000000

Inspect another row for feasibility 
```
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k	N/A	N/A
```

Noticed the pay is 912.8k
K assumedly meaning thousand or 1000; therefore their pay is 912.8*1000

#**Resolution for symbols indicating salary** 19/10/2021

```
  if last_char == 'M':
    salary = float(num_part) * 1000000
    
  elif last_char == 'k':
    salary = float(num_part) * 1000
    
  else:
    salary = 0

   return salary 
```

In [1]:
!pip install kora -q

from bs4 import BeautifulSoup
from kora.selenium import wd
import pandas as pd

     |████████████████████████████████| 57 kB 2.8 MB/s
     |████████████████████████████████| 56 kB 3.6 MB/s

In [59]:
def generate_url():
  # User input ticker symbol
  ticker_symbol = input("Please input ticker symbol ")
  # print(ticker_symbol)

  #The URL that will be generated based on the ticker that is entered
  example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
  result = example_url.format(ticker_symbol, ticker_symbol)
  return result

In [74]:
 def row_capture(row):
  #Specifies what in the HTML to capture for the program 
  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'Name': name, 'Title': title, 'Pay': pay}

In [92]:
  #fixing row capture and executive records commands
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  rows[1].text

  exec_records = []
  for row in rows:
    result = row_capture(row)
    exec_records.append(result)
  


#For now just process the one row 
#Work out how to do all rows later
row = rows[1]

  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  print(pay)

last_char = pay[-1]
num_part = pay[0:-1]

if last_char == 'M':
   salary = float(num_part) * 1000000
  #print("Millions")
elif last_char == 'k':
    salary = float(num_part) * 1000
  #print("Thousand")
else:
    salary = 0
  #print("Not sure")

print(salary)

1.8M
1800000.0

In [57]:
def executive_records(soup):
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  
  exec_records = []
  for row in rows:
    result = row_capture(row)
    exec_records.append(result)
  return exec_records

In [62]:
url = generate_url()
wd.get(url)
soup = BeautifulSoup(wd.page_source, "html.parser")
records = executive_records(soup)

Please input ticker symbol TLS.AX

In [93]:
def get_salary(rec):
  pay = rec['Pay']
  last_char = pay[-1]
  num_part = pay[0:-1]

  if last_char == 'M':
    salary = float(num_part) * 1000000
    
  elif last_char == 'k':
    salary = float(num_part) * 1000
    
  else:
    salary = 0
    

  return salary